@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 40px;
}

@media (max-width: 1024px) {
  body {
    margin: 32px 20px;
  }
}

@media (max-width: 768px) {
  body {
    margin: 24px 16px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 16px 12px;
  }
}
