.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0 0 0;
  gap: 40px;
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 100%;
}
